<div class="container mt-4">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/022/995/026/small_2x/interior-of-a-modern-gym-with-fitness-equipment-generative-ai-photo.jpg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREnuMr4PA6AMNEYEE85RwG846kf29VCJ5MecJVowHj2uGBB7z19N-PbHvBWFmrLSlvPMs&usqp=CAU" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg7mGh4w8wy0TLf4t5PLZKhi6G_clq_i0xCgRn9ky7wyRUyrV05ykhgwE3l6j2dSFWu-w&usqp=CAU" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREnuMr4PA6AMNEYEE85RwG846kf29VCJ5MecJVowHj2uGBB7z19N-PbHvBWFmrLSlvPMs&usqp=CAU" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title 4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title 5</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 6 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTg7mGh4w8wy0TLf4t5PLZKhi6G_clq_i0xCgRn9ky7wyRUyrV05ykhgwE3l6j2dSFWu-w&usqp=CAU" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title 6</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 7 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://theironoffice.com/cdn/shop/files/Gym_12.23-19.jpg?v=1701994187&width=3840" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title 7</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 8 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title 8</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 9 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://theironoffice.com/cdn/shop/files/Gym_12.23-19.jpg?v=1701994187&width=3840" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title 9</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 10 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="https://images.pexels.com/photos/841130/pexels-photo-841130.jpeg" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title">Card Title 10</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div><br><br><br>

<div class="container">
    <div class="row">
<div class="col-md-4 mb-4">
    <div class="card" *ngFor="let student of students">
        <img class="card-img-top" alt="Card Image">
        <div class="card-body">
            <h5 class="card-title">{{ student.title }}</h5>
            <p class="card-text">{{ student.text }}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
    </div>
</div>
  
  
  