<div class="container mt-4">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <video class="card-img-top" src="https://videos.pexels.com/video-files/3195530/3195530-sd_640_360_25fps.mp4" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card Title 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <video class="card-img-top" src="https://videos.pexels.com/video-files/3209802/3209802-sd_640_360_25fps.mp4" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card Title 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <video class="card-img-top" src="https://videos.pexels.com/video-files/3195530/3195530-sd_640_360_25fps.mp4" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card Title 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 4 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <video class="card-img-top" src="https://videos.pexels.com/video-files/3209802/3209802-sd_640_360_25fps.mp4" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card Title 4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 5 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <video class="card-img-top" src="https://videos.pexels.com/video-files/1596860/1596860-sd_640_360_30fps.mp4" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card Title 5</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 6 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <video class="card-img-top" src="https://videos.pexels.com/video-files/4438080/4438080-sd_640_360_25fps.mp4" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card Title 6</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 7 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <video class="card-img-top" src="https://videos.pexels.com/video-files/1596860/1596860-sd_640_360_30fps.mp4" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card Title 7</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 8 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <video class="card-img-top" src="https://videos.pexels.com/video-files/4438080/4438080-sd_640_360_25fps.mp4" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card Title 8</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 9 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <video class="card-img-top" src="https://videos.pexels.com/video-files/1596860/1596860-sd_640_360_30fps.mp4" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card Title 9</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Card 10 -->
        <div class="col-md-4 mb-4">
            <div class="card">
                <video class="card-img-top" src="https://videos.pexels.com/video-files/4438080/4438080-sd_640_360_25fps.mp4" controls></video>
                <div class="card-body">
                    <h5 class="card-title">Card Title 10</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
